nav{
  background-color: #333;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


img{
max-width: 100%;
}

.homeNavLink{
  text-decoration: none;
  margin: 2rem;
  font-family: 'Courier New', Courier, monospace;
  color: red; 
}